/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Oct, 2016, 12:37:31 PM
    Author     : baldeep
*/

.lines div{line-height:20px !important;}
html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.formDiv{position: absolute;
         left: 80%;
         top: 30%;
         -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);}